body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.list-group-item {
    cursor: pointer;
}

#map {
    height: 400px;
    width: 100%;
}
